<% if @todo.errors.present? %>
  <ul>
    <% @todo.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @todo do |f| %>
  <%= f.label :content, "To Do List" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>