<div class="row clearfix">
  <table class="todo-list table">
    <% @todos.each do |todo| %>
      <% if todo.completed? %>
        <tr class="table-row">
          <td class="completed">
            <%= link_to complete_todo_path(todo.id), method: :patch do %>
              <span style="opacity: 0.4;" class="glyphicon glyphicon-ok"></span>
            <% end %>
          </td>
          <td class="todo-item">
            <p style="opacity: 0.4;" class="todo-info"><strike><%= todo.name %></strike></p>
            <p style="opacity: 0.4;" class="todo-date"><strike><%= todo.due_date %></strike></p>
          </td>
        <% else %>
          <td class="completed">
            <%= link_to complete_todo_path(todo.id), method: :patch do %>
              <span class="glyphicon glyphicon-unchecked"></span>
            <% end %>
          </td>
          <td class="todo-item">
            <p class="todo-info"><%= todo.name %></p>
            <p class="todo-date"><%= todo.due_date %></p>
          </td>
      <% end %>
        <td class="todo-btn">
          <%= link_to "Detail", todo_path(todo), class: "btn btn-info btn-xs" %>
          <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-primary btn-xs" %>
          <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
  <% end %>
</table>
<hr>
<div><%= link_to "New Todo List", new_todo_path , class: "btn btn-default" %></div>
</div>