<!DOCTYPE html>
<html>
  <head>
    <title>My Todolist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://use.fontawesome.com/b3a1040621.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
        <h1 class="todo-title text-center">MY TODO LIST<br>
        <small class="todo-sub-title">this is my todo list for work</small></h1>
      <hr>
    </div>

    <div class="container">
      <div id="notice"><%= notice %></div>
      <%= yield %>
    </div>
  </body>
</html>
